<div class="container p-4">
    <div class="row">
        <div class="col w-100">
            <label for="exampleDataList" class="form-label"><strong><i class="fas fa-search"></i> Search for countries </strong></label>
            <input class="form-control" name="filterCountry" [(ngModel)]="filterCountry" placeholder="Type to search...">
        </div>
    </div>
</div> 
<h1 class="text-center w-100" *ngIf="paises.length == 0"> No se encuentran paises <hr></h1>
<ng-container *ngFor="let item of paises | countryname:filterCountry">
    <div class="col-md-4 p-4">
        <div class="card rounded shadow-lg">
            <div class="card-header">
                <h2><i class="fas fa-globe"></i> {{item.nombre_pais}} 
                    <button class="btn btn-outline-danger btn-sm float-right rounded ml-1" (click)="deleteElement(item.id_pais)"><i class="fas fa-trash"></i></button>
                    <button class="btn btn-outline-info btn-sm float-right rounded" (click)="updateElement(item.id_pais)"><i class="fas fa-edit"></i></button></h2>
                    <hr>
                <h4><strong>Capital:</strong> {{item.capital}}</h4>
            </div>
            <div class="card-body text-center">
                <p><strong><i class="fas fa-users"></i> Poblacion: </strong>{{item.poblacion}} personas</p><br>
                <p><strong><i class="fas fa-ruler-combined"></i> Area: </strong>{{item.area}} km2</p><br>
                <p><strong><i class="fas fa-chart-area"></i> Region: </strong>{{item.nombre_region}} </p><br>
            </div>
        </div>
    </div>
</ng-container>