<div class="row p-4 border-0 rounded" style="background-color: transparent; border-radius: 50%;">
    <div class="col-md-4 offset-md-4">
        <div class="card border-0 shadow-lg">
            
            <div class="card-body">
                <form  novalidate  (ngSubmit)="onLogin()" [formGroup]="loginForm">
                    <div class="form-group text-center">
                        <label class="text-dark" for="email"><i class="fas fa-envelope"></i> Correo electronico</label>
                        <input class="form-control shadow-lg rounded-pill" type="email" name="" id="email" placeholder="Correo electronico"
                        formControlName="email" [class]="validField('email')">
                        <div class="invalid-feedback">
                            <span *ngIf="loginForm.get('email').errors?.required">
                                <strong>Por favor, introduzca un email.</strong>
                            </span>
                            <span *ngIf="loginForm.get('email').errors?.pattern">
                                <strong>Correo electronico no valido.</strong>
                            </span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label class="text-dark" for="password"><i class="fas fa-unlock"></i> Contraseña</label>
                        <input class="form-control shadow-lg rounded-pill" [type]="passwordType" placeholder="Contraseña" name="password" id="password"
                        formControlName="password" [class]="validField('password')" data-toggle="password">
                        <div class="invalid-feedback">
                            <span *ngIf="loginForm.get('password').errors?.required">
                                <strong>Por favor, introduzca un password.</strong>
                            </span>
                        </div>
                        <a class="btn btn-outline rounded-pill border-0 btn-shake" style="background-color: transparent;"
                        (click)="loginForm.get('password').value != '' ? showPassword() : ''">
                            <div class="text-center" *ngIf="passwordType == 'password'">Mostrar contraseña <i class="far fa-eye"></i></div>
                            <div class="text-center" *ngIf="passwordType == 'text'">Ocultar contraseña <i class="far fa-eye-slash"></i></div>
                        </a>
                    </div>
                    <hr>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success btn-block shadow-lg rounded-pill" [ngClass]="isValidData()">
                            Sign in <i class="fas fa-check" *ngIf="loginForm.valid"></i>
                            <i class="fas fa-exclamation-circle" *ngIf="!loginForm.valid"></i> 
                        </button>
                    </div>
                </form>           
            </div>
        </div>
    </div>
</div>