<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login">
        <img src="../../../assets/large_inventzo.png" width="100px" height="60px" alt="">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="!logged">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
        </ng-container>
        <ng-container *ngIf="logged">
          <li class="nav-item">
            <a class="nav-link" routerLink='/consultas'><i class="fas fa-pen"></i> Consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/paises'><i class="fas fa-globe-americas"></i> Paises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/preguntas'><i class="far fa-question-circle"></i> Preguntas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/inventos'><i class="fab fa-hubspot"></i> Invento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="signOut()"><i class="fas fa-sign-out-alt"></i> Sign out</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
